<!DOCTYPE html>
<html>
<head>
  <title>OpenCodeXxiii</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  Salut <%= current_user.email %>
<% else %>
  <%= link_to 'Sign in', new_user_session_path %> | <%= link_to 'Sign up', new_user_registration_path %>
<% end %>

<%= content_tag(:div, alert,  class: 'alert')  if alert %>
<%= content_tag(:div, notice, class: 'notice') if notice %>
<%= yield %>

</body>
</html>
